page-home {

    ion-footer {
        height: 63px;

        button {
            height: 44px;
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-top: 22vh;
    }
}
