<!--
  Generated template for the PdfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <!-- <button ion-button icon-only (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->

    <ion-title>Visualização de Laudo</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 *ngIf="!exame.laudo">Não há laudo cadastrado</h1>

  <pdf-viewer src="{{exame.laudo}}" *ngIf="exame.laudo"
              [show-all]="true"
              (after-load-complete)="afterLoadComplete($event)"
  ></pdf-viewer>

</ion-content>
